# Attempt logs
backend/attempts/

backend/db.sqlite3

# Test outputs / compiled files
backend/test/
*.class
*.csv
*.txt
output

# Node
node_modules/

# Python
env/
__pycache__/
*.pyc

# VS Code
.vscode/